{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Enigma</title>
    <link rel="stylesheet" href="{% static 'enigma/style.css' %}">
</head>

<script>
    function checkRotorSelection() {
        var rotor1 = document.getElementById("rotor1").value;
        var rotor2 = document.getElementById("rotor2").value;
        var rotor3 = document.getElementById("rotor3").value;

        if (rotor1 !== "EKMFLGDQVZNTOWYHXUSPAIBRCJ" || 
            rotor2 !== "AJDKSIRUXBLHWTMCQGZNPYFVOE" || 
            rotor3 !== "BDFHJLCPRTXVZNYEIWGAKMUSQO") {
            alert("Erreur: La combinaison des rotors sélectionnée n'est pas valide.");
            return false; 
        }
        return true;
    }
</script>

<body>

<nav class="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Accueil</a></li>
        <li><a href="{% url 'decode' %}" class="in">Enigma</a></li>
        <li><a href="{% url 'mdp' %}">Analyse Frequentielle</a></li>
    </ul>
</nav>

<form action="/submit/" method="get" class="enigma" name="enigmaForm" onsubmit="return checkRotorSelection()">
    <div class="main"> 
        <h2>Utilisation d'Enigma</h2>
        <p>Vous pouvez utiliser la machine Enigma pour décoder un message, cependant, vous avez besoin des trois rotors pour que le déchiffrage se passe correctement.</p>
        <div class="rotor1">
            <label for="rotor1">Choisissez la combinaison du 1er rotor :</label>
            <select name="rotor1" id="rotor1" required>
                <option value="none">none</option>
                <option value="EKMFLGDQVZNTOWYHXUSPAIBRCJ">EKMFLGDQVZNTOWYHXUSPAIBRCJ</option>
                <option value="BDFHJLCPRTXVZNYEIWGAKMUSQO">BDFHJLCPRTXVZNYEIWGAKMUSQO</option>
                <option value="AJDKSIRUXBLHWTMCQGZNPYFVOE">AJDKSIRUXBLHWTMCQGZNPYFVOE</option>
            </select>
        </div>
        
        <div class="rotor2">
            <label for="rotor2">Choisissez la combinaison du 2ème rotor :</label>
            <select name="rotor2" id="rotor2" required>
                <option value="none">none</option>
                <option value="EKMFLGDQVZNTOWYHXUSPAIBRCJ">EKMFLGDQVZNTOWYHXUSPAIBRCJ</option>
                <option value="BDFHJLCPRTXVZNYEIWGAKMUSQO">BDFHJLCPRTXVZNYEIWGAKMUSQO</option>
                <option value="AJDKSIRUXBLHWTMCQGZNPYFVOE">AJDKSIRUXBLHWTMCQGZNPYFVOE</option>
            </select>
        </div>
        
        <div class="rotor3">
            <label for="rotor3">Choisissez la combinaison du 3ème rotor :</label>
            <select name="rotor3" id="rotor3" required>
                <option value="none">none</option>
                <option value="EKMFLGDQVZNTOWYHXUSPAIBRCJ">EKMFLGDQVZNTOWYHXUSPAIBRCJ</option>
                <option value="BDFHJLCPRTXVZNYEIWGAKMUSQO">BDFHJLCPRTXVZNYEIWGAKMUSQO</option>
                <option value="AJDKSIRUXBLHWTMCQGZNPYFVOE">AJDKSIRUXBLHWTMCQGZNPYFVOE</option>
            </select>
        </div>
        <div class="reflector">
            <label>Donnez la combinaison du reflector</label>
            <input type="text" name="reflector" maxlength="26" placeholder="Réflecteur" value="yruhqsldpxngokmiebfzcwvjat" readonly>
        </div>
        <div class="text">
            <label>Texte à déchiffrer :</label>
            <input type="text" name="texte" placeholder="Texte à déchiffrer" autocomplete="off" required>
        </div>
        <div class="content_sub">
            <input type="submit" value="Soumettre">
            <a class="button" href="{% url 'home' %}"><i class="fa-solid fa-circle-arrow-up"></i> Retour</a>
        </div>
    </div>
</form>

</body>
</html>
